    * {
        margin: 0;
        padding:0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        font-family: "Saira" ,sans-serif;
    }
    :root {
        --colorThemeDark: #141414;
        --colorThemeLight: rgb(211, 211, 211);
        --details: rgba(190, 7, 190, 0.607);
        --colorsDark:#e9e9e9;
        --colorsLight:#141414;
        --borders: linear-gradient(to right,red,blue)
    }
    html, body {
        background-color: var(--colorThemeDark);
        margin: 0 auto;
        height: 100%;
        padding: 0;
    }
    
    .clear {
        clear: both;
    }
    .container {
        margin: auto;
        display: flex;
        text-align: center;
        width: 95%;
        height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }
        .action {
        width: 90%;
        height: 100%;
        display: flex;
        margin: auto;
        font-weight:bolder;
        color: rgba(234, 229, 199, 0.796);
        }
        .action p{
        line-height: 100%;
        font-style: normal;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-size: 31vw;
        text-align: center;
        overflow-y: hidden;
        overflow-x: hidden;
        margin: auto;
        box-sizing: border-box;
    }
